[Desktop Entry]
Version=1.0
Type=Application
Name=Ferret
Comment=Local semantic search for your files
Exec=/opt/ferret/ferret
Icon=/usr/share/icons/hicolor/256x256/apps/ferret.png
Terminal=false
Categories=Utility;FileManager;
StartupNotify=false
